* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

$button_color :gray;

@mixin slide-btn($left, $right) {
    position: absolute;
    z-index: 100;
    left: $left;
    right: $right;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    background:none;
    border:none;
}

@mixin  slide-indicator($size) {
    width: $size;
    height: $size;
    float: left;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: $button_color;
    opacity: 0.7;

    &:first-child {
        margin-left: -10px;
    }

    &:hover {
        background: lighten($button_color, 10%);
    }

    &.active {
        background: lighten($button_color, 100%);
    }
}

.slide-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    .slide-indicator {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, 0%);
        z-index: 200;

        .slide-indicator-btn.small {@include slide-indicator(10px)}    
           
        .slide-indicator-btn.medium {@include slide-indicator(15px)}

        .slide-indicator-btn.large {@include slide-indicator(15px)}    
        
    }

    .slide-next-btn {
        @include slide-btn(unset, 10px)
    }

    .slide-prev-btn {
        @include slide-btn(10px, unset)
    }

    // 슬라이드 아이템을 가두는 박스
    .slide-iner {
        transition: all 0.5s;
        position: absolute;
        width: auto;
        display: flex;
        height: 100%;
        flex-direction: row;

        // 슬라이드 아이템
        .slide-item {
            background-size: cover !important;
            background-repeat: no-repeat;
            height: 100%;
        }

    }
}